.card-item {
  min-width: 160px;
  max-width: 180px;
  flex: 0 0 auto;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  outline: none;
  transition: transform 0.2s, box-shadow 0.2s;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
  padding: 0.5rem 0.5rem;
  &:hover,
  &:focus {
    transform: scale(1.05);
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.12);
  }
  .card-poster {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
    margin-bottom: 0.5rem;
    object-fit: cover;
    aspect-ratio: 2/3;
    background: #eee;
  }
  .card-title {
    font-size: 1rem;
    text-align: center;
    color: #333;
    margin-top: 0.2rem;
    font-weight: 500;
    // word-break: break-word;
  }
}
