.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 250px;
  background-color: transparent;
}

.spinner {
  border: 4px solid white;
  border-radius: 50%;
  border-top-color: red;
  border-style: dashed;
  width: 80px;
  height: 80px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
